<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Channels" version="2.2.0.0" targetFramework="net452" />
  <package id="Channels.RabbitMQ" version="3.0.0.0" targetFramework="net452" />
  <package id="Code.Configuration" version="1.5.1.0" targetFramework="net452" />
  <package id="CodeProbe" version="1.0.2.0" targetFramework="net452" />
  <package id="CodeProbe.ExecutionControl" version="2.0.0.4" targetFramework="net452" />
  <package id="CodeProbe.HealthChecks" version="1.0.1.0" targetFramework="net452" />
  <package id="CodeProbe.Reporting" version="1.0.1.1" targetFramework="net452" />
  <package id="CodeProbe.Reporting.Remote" version="1.0.1.2" targetFramework="net452" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Log4Net1215" version="3.3.1" targetFramework="net452" />
  <package id="IDSign.Logging" version="0.3.8.0" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Quartz" version="2.4.1" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.6.3" targetFramework="net452" />
</packages>