<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="schedulerServiceConfig" type="Code.Scheduler.ClientUtils.Configuration.ClientUtilConfigurationSection, Code.Scheduler.ClientUtils" />
  </configSections>
  <schedulerServiceConfig>
    <serviceEndpoint value="BasicHttpBinding_ISchedulerService" />
  </schedulerServiceConfig>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISchedulerService" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://Code.test.aliaslab.net/SchedulerService/SchedulerService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchedulerService"
          contract="Code.Scheduler.Service.Interfaces.ISchedulerService" name="BasicHttpBinding_ISchedulerService" />
      <endpoint address="http://Code.test.aliaslab.net/TestService/UnitTestService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchedulerService"
          contract="Code.Scheduler.Service.Interfaces.ISchedulerService" name="BasicHttpBinding_UnitTestService" />
      <endpoint address="http://localhost:2213/SchedulerService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchedulerService"
          contract="Code.Scheduler.Service.Interfaces.ISchedulerService" name="TestLocal" />
    </client>
  </system.serviceModel>
</configuration>